*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

.caja{
    border: 3px solid black;
    border-radius: 50px;
    margin: 13% 25%;
    padding: 2% 3%;
    position: relative;
}

.logo{
    width: 27%;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 0;
}

.title{
    font-size: 20px;
}

.title1{
    text-align: center;
    width: 40%;
    background-color:rgb(0, 255, 225);
}

.title2{
    text-align: center;
    width: 40%;
    background-color: rgb(0, 255, 225);
}

.tituloInicio{
    margin-top: 30px;
    column-count: 2;
    column-gap: 50px;
    position: relative;
    z-index: 1;
}

.cajaDentro{
    display: flex;
    border: 2px solid black;
    gap: 5px;
    margin: 20px 0px;
    padding: 5px 5px;
}

.cajaDentro > div:nth-child(1){
    flex: 1 1 50%;
    background-color: rgb(69, 28, 255);
    padding: 10px 10px;
}

.cajaDentro > div:nth-child(2){
    flex: 1 1 50%;
    background-color: rgb(21, 25, 136);
    padding: 10px 10px;
}

.foot{
    text-align: center;
    background-color: rgb(0, 255, 242);
    font-weight: bold;
    transition: all .5s ease-in-out;
}

.foot:hover{
    transform: scale(1.1);
}